{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "extends": ["eslint:recommended", "prettier", "plugin:import/warnings"],
    "env": {
        "es2021": true,
        "browser": true,
        "node": true
    },
    "parser": "@babel/eslint-parser",
    "rules": {
        "semi": "error",
        "indent": ["error", 4],
        "quotes": ["error", "double"],
        "no-debugger": "warn",
        "prettier/prettier": 0,
        "object-curly-spacing": ["error", "always"],
        "no-console": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "no-multi-spaces": "error",
        "no-trailing-spaces": "error",
        "max-len": ["error", { "code": 120 }],
        "no-underscore-dangle": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never"
            }
        ]
    }
}
